@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --text-color: #ccc;
    --buttons-color: rgba(255, 255, 255, 0.1);
    --buttons-color-hover: rgba(255, 255, 255, 0.05);
    --icon-color: white;
    --border-color: rgba(255, 255, 255, 0.7);
    --border-color-hover: rgb(255, 255, 255);
    --sombra: rgba(0, 0, 0, 0.9);
    --background: url(../assets/bg-mobile-dark\ \(1080x1920\).jpg);
    --swith: url(../assets/moon.svg);
}

.light{
    --text-color: #161616;
    --buttons-color: rgba(0, 0, 0, 0.05);
    --buttons-color-hover: rgba(0, 0, 0, 0.02);
    --icon-color: #161616;
    --border-color: rgba(0, 0, 0, 0.1);
    --border-color-hover: rgb(0, 0, 0);
    --sombra: rgba(0, 0, 0, 0.1);
    --background: url(../assets/bg-mobile-light\ \(1080x1920\).jpg);
    --swith: url(../assets/sun.svg);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    width: 100%;
    max-width: 588px;
    height: 100vh;

    margin: auto;
    text-align: center;

    font-family: Inter, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

/* -------------- HEADER -------------- */

header{
    padding: 24px;
    margin-top: 56px;
    
}

header > img{
    width: 112px;

    border-radius: 100%;
    border: var(--border-color) solid 1px;
    padding: 2px;
    
}

h1{
    font-size: 16px;
    color: var(--text-color);

    margin-top: 8px;
}

/* -------------- MAIN -------------- */

main{
    padding: 0 24px;    
}

/* -------------- BOTÃO -------------- */

#light-dark{
    position: relative;
    width: 64px;

    margin: 4px auto;
}

#light-dark button{
    display: block;
    width: 32px;
    height: 32px;

    border: 0;
    border-radius: 50%;
    background: white var(--swith) no-repeat center;

    box-shadow: 1px 1px 4px 1px var(--sombra);

    position: absolute;
    z-index: 1;

    top: 50%;
    animation: slide-dark 0.2s;
    
    translate: 0 -50%;   
}

.light #light-dark button{
    right: 0;
    animation: slide-light 0.2s;
}

#light-dark button:hover{
    outline: 8px solid var(--buttons-color-hover);
}

#light-dark div{
    width: 64px;
    height: 24px;

    background-color: var(--buttons-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border: var(--border-color) solid 1px;
    border-radius: 20px;
}

/* -------------- MENU -------------- */

#menu{
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 24px 0;
}

#menu li{
    padding: 16px;   

    background-color: var(--buttons-color);
    border: var(--border-color) solid 0.5px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#menu li:hover{ 
    background-color: var(--buttons-color-hover); 
    border: 1px solid var(--border-color-hover);
    transition: all 0.5s;
}

#menu a{
    text-decoration: none;
    color: var(--text-color);
}

/* -------------- REDE -------------- */

#rede{
    list-style: none;

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    padding: 24px 0;
}

#rede ion-icon{
    width: 20px;
    height: 20px;
    color: var(--text-color);
    padding: 16px;
}

#rede ion-icon:hover{
    background-color: var(--buttons-color-hover);
    border-radius: 50%;

    transition: background 0.5s;
}

/* -------------- FOOTER -------------- */

footer{
    padding: 24px 0;
}

p{
    color: var(--text-color);
}

p a{
    color: var(--text-color);
}

/* -------------- MEDIA QUERIES -------------- */

@media (min-width: 700px){
    :root{
        --background: url(../assets/bg-desktop-dark\ \(1920x1080\).jpg);
    }

    .light{
        --background: url(../assets/bg-desktop-light\ \(1920x1080\).jpg);
    }
}

/* -------------- ANIMACAO -------------- */

@keyframes slide-light {
    from{
        right:50%;
    }
    to{
        right: 0;
    }
}

@keyframes slide-dark {
    from{
        right:0;
    }
    to{
        right: 50%;
    }
}